.DimensionsInput {
  border: thin solid blue;

  [class^=pb_title_kit_3] {
    text-align: center;
  }
}

.InvalidInput {
  border: thin solid rgba(255, 0, 0, .7);
  box-shadow: 0 0 5px 1px rgba(255, 0, 0, .5) !important;

  button {
    color: rgb(255, 0, 0) !important;
    pointer-events: none;
    cursor: default;
  }
}